.plate {
    padding: 13px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    align-self: center;
    margin: 24px 0 11px 0;
}

.shadow {
    box-shadow: 0 3px 17px rgba(96, 148, 227, 0.21);
}