$white: #fff;
$green: #5CD6C0;

$primary: #483FDD;
$primary-light: #EFF1FF;
$light-blue: #EFF6FF;
$special: #FFF2EB;
$green-light: #EAF5E4;
$blue-light: #E6F2FE;

$text-primary: #151D51;
$text-highlighted: #483FDD;
$text-special: #DF723A;
$text-violet: #3D317C;
$text-green: #305938;
$text-blue: #1D367C;

$width: 320px;
